---
layout: page
title: Blog
permalink: /blog/
group: "navigation"
---
<h5 class="gamma [ title title--primary ]">On my mind</h5>
<ul class="post__list">
    {% for post in site.categories['blog'] %}
    <li class="post__item">
        <a class="post__link [ title title--small-cap ]" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
        </a>
        <ul class="post__tags [ list--inline list--commas ]">
            {% for item in post.tags %}
                <li>{{ item.tag }}</li>                        
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>