---
layout: default
class: home
---
<main class="site__main">
    <div class="container">
        <nav class="nav nav--primary">
            <ul class="grid">
                {% for post in site.posts %}
                {% if post.categories contains 'portfolio' %}
                <li class="col--2">
                    <a class="nav__link [ link link--image ]" href="{{ post.url | prepend: site.baseurl }}">
                        <img class="image image--rollover" src="{{ post.feature | prepend: site.baseurl }}" alt="{{ post.title }}">
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</main>