---
layout: default
class: home
---
<main class="site__main">
    <article class="wrapper">
        <p>When I'm away from my computer I can be found preaching, hiking, changing diapers, or trying to dunk a basketball.</p>
    </article>
    <article class="wrapper">
        <ul class="post__list">
            {% for post in site.posts %}
            {% if post.categories contains 'portfolio' %}
            <li class="post__item">
                <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">
                    <img class="post__image" src="{{ post.feature | prepend: site.baseurl }}" alt="{{ post.title }}">
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </article>
</main>