---
layout: default
class: home
---
<main class="site__main">
    <article class="wrapper">
        <section>
            <p>When I'm away from my computer I can be found preaching, hiking, changing diapers, or trying to dunk a basketball.</p>
        </section>    
        <section class="grid">
            <div class="col col--3--large">
                <h5 class="title title--secondary">Portfolio</h5>
                <ul class="post__list">
                    {% for post in site.categories['portfolio'] limit: 3 %}
                    <li class="post__item">
                        <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">
                            <span="title title--secondary">{{ post.title }}</span>
                            <!-- <img class="post__image" src="{{ post.feature | prepend: site.baseurl }}" alt="{{ post.title }}"> -->
                        </a>
                        <ul class="post__tags [ list--inline list--commas ]">
                            {% for item in post.tags %}
                                <li>{{ item.product }}</li>                        
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col col--3--large">
                <h5 class="title title--secondary">Blog</h5>
                <ul class="post__list">
                    {% for post in site.categories['blog'] limit: 3 %}
                    <li class="post__item">
                        <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">
                            <span="title title--secondary">{{ post.title }}</span>
                        </a>
                        <ul class="post__tags [ list--inline list--commas ]">
                            {% for item in post.tags %}
                                <li>{{ item.tag }}</li>                        
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </article>
</main>