---
layout: default
---

<main>
    <article class="container">
        <h5 class="headline">
            <strong>{{ post.title }}</strong>
        </h5>
        <p>{{ post.custom_title }}</p>

        {{ content }}

        <nav class="nav nav--secondary">
        {% for category in site.categories %}
        {% assign catg_name = category.first %}
            {% if catg_name == page.categories.first | downcase %}
                {% assign catg_posts = category.last %}
            {% endif %}
        {% endfor %}
        {% for post in catg_posts %}
            {% if post.title == page.title %}
                {% unless forloop.last %}
                    {% assign next = catg_posts[forloop.index] %}
                    <a href="{{ site.baseurl }}{{ next.url }}">
                        <small>Prev</small>
                        <!-- <small>{{ next.title }}</small> -->
                    </a>
                {% endunless %}
                {% unless forloop.first %}
                    <a href="{{ site.baseurl }}{{ prev.url }}">
                        <small>Next</small>
                        <!-- <small>{{ prev.title }}</small> -->
                    </a>
                {% endunless %}
            {% endif %}
            {% assign prev = post %}
        {% endfor %}
        </nav>
    </article>
</main>