---
layout: default
class: sub
---

<main class="site__main">
    <article class="wrapper">
        <h5 class="title title--secondary">Role</h5>
        <p>{{ page.role }}</p>
        <h5 class="title title--secondary">Client</h5>
        <p>{{ page.client }}</p>
        <h5 class="title title--secondary">Project</h5>
        <p>{{ page.project }}</p>
        {{ content }}
    </article>
    <div class="wrapper">
        <h5 class="title title--secondary">Portfolio</h5>
        <ul class="post__list">
            {% for post in site.posts reversed %}
            {% if post.categories contains 'portfolio' %}
            <li class="post__item">
                <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">
                    <span="title title--secondary">{{ post.title }}</span>
                    <!-- <img class="post__image" src="{{ post.feature | prepend: site.baseurl }}" alt="{{ post.title }}"> -->
                </a>
                <ul class="post__tags [ list--inline list--commas ]">
                    {% for item in post.tags %}
                        <li>{{ item.product }}</li>                        
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</main>