---
layout: default
class: sub
---

<main class="site__main">
    <article class="wrapper">
        <section>
            <h3 class="title title--primary">{{ page.description }}</h3>
            <h2 class="epsilon post__title [ title title--secondary ]">{{ page.title }}</h2>
            {{ content }}
            <p>Thanks for reading!</p>
        </section>
        <section>
            <h5 class="title title--secondary">Recent Posts</h5>
            <ul class="post__list">
                {% for post in site.posts reversed %}
                {% if post.categories contains 'blog' %}
                <li class="post__item">
                    <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">
                        <span="title title--secondary">{{ post.title }}</span>
                    </a>
                    <ul class="post__tags [ list--inline list--commas ]">
                        {% for item in post.tags %}
                            <li>{{ item.tag }}</li>                        
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </section>
    </article>
</main>