---
layout: default
class: sub
---

<main class="site__main">
    <article class="wrapper">
        <h5 class="title title--primary">Role</h5>
        <p>{{ page.role }}</p>
        <h5 class="title title--primary">Client</h5>
        <p>{{ page.client }}</p>
        <h5 class="title title--primary">Project</h5>
        <p>{{ page.project }}</p>
        {{ content }}
    </article>
    <div class="wrapper">
        <ul class="post__list">
            {% for post in site.posts %}
            {% if post.categories contains 'portfolio' %}
            <li class="post__item">
                <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">
                    <img class="post__image" src="{{ post.feature | prepend: site.baseurl }}" alt="{{ post.title }}">
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</main>