---
layout: default
class: sub
---

<main class="site__main">
    <article class="wrapper">
        <section>
            <h3 class="title title--primary">{{ page.description }}</h3>
            <h2 class="epsilon post__title [ title title--secondary ]">{{ page.title }}</h2>
            {{ content }}
            <p>Thanks for reading!</p>
        </section>
        <section>
            <h5 class="gamma [ title title--primary ]">Recent Posts</h5>
            <ul class="post__list">
                {% for post in site.categories['blog'] limit: 3 %}
                <li class="post__item">
                    <a class="post__link [ title title--small-cap ]" href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.title }}
                    </a>
                    <ul class="post__tags [ list--inline list--commas ]">
                        {% for item in post.tags %}
                            <li>{{ item.tag }}</li>                        
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </section>
    </article>
</main>